.container {
  position: relative;
}

.goBackBtn {
  position: absolute;
  top: 16px;
  left: 16px;
  cursor: pointer;
}

.intro {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.sketchItem {
  display: flex;
  align-items: center;
}

.sketchItem button {
  cursor: pointer;
  margin-left: 16px;
}
